

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">GESTION DCSPA <sup></sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Tableau de bord</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <!-- <div class="sidebar-heading">
        GESTION DES STRUCTURES
      </div> -->

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>CENTRES</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">alpha</h6> -->
            <a class="collapse-item" routerLink="buttons.html">alpha</a>
            <a class="collapse-item" routerLink="cards.html">cec</a>
            <a class="collapse-item" routerLink="cards.html">sie</a>
            <a class="collapse-item" routerLink="cards.html">cp</a>

          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>PROMOTEUR</span></a>
      </li>
      

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>ADMINISTRATEUR</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
            <a class="collapse-item" routerLink="utilities-color.html">Personnel</a>
          </div>
        </div>
      </li>


     <li class="nav-item">
        <a class="nav-link collapsed" routerLink="#" data-toggle="collapse" data-target="#collapseUtilities1" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>PARTENAIRE</span>
        </a>
        <div id="collapseUtilities1" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
            <a class="collapse-item" routerLink="utilities-color.html">Partenariat</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="#" data-toggle="collapse" data-target="#collapseUtilities2" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>APPRENANT</span>
        </a>
        <div id="collapseUtilities2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
            <a class="collapse-item" routerLink="utilities-color.html">Effectif apprenant</a>
            <a class="collapse-item" routerLink="utilities-color.html">Effectif abandon</a>
            <a class="collapse-item" routerLink="utilities-color.html">Effectif passage</a>
            <a class="collapse-item" routerLink="utilities-color.html">Effectif handicap</a>
            <a class="collapse-item" routerLink="utilities-color.html">Effectif competence aquise </a>

          </div>
        </div>
      </li>

     <li class="nav-item">
        <a class="nav-link" routerLink="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>PERFORMANCE</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>CONTROL</span></a>
      </li>

  <li class="nav-item">
        <a class="nav-link collapsed" routerLink="#" data-toggle="collapse" data-target="#collapseUtilities3" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>VISITES</span>
        </a>
        <div id="collapseUtilities3" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
            <a class="collapse-item" routerLink="utilities-color.html">point des visites </a>
            <a class="collapse-item" routerLink="utilities-color.html">suivi du conseiller </a>
            <a class="collapse-item" routerLink="utilities-color.html">Suivi par le superviseur</a>
            <a class="collapse-item" routerLink="utilities-color.html">suivi par l'iepp</a>

          </div>
        </div>
      </li>

      <!-- Divider -->
      <!-- <hr class="sidebar-divider"> -->

      <!-- Heading -->
      <!-- <div class="sidebar-heading">
        Addons
      </div> -->

      <!-- Nav Item - Pages Collapse Menu -->
     

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" routerLink="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>EVALUATION PERIODIQUE </span></a>
      </li>

     
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="#" data-toggle="collapse" data-target="#collapseUtilities4" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>ADMINISTRATION</span>
        </a>
        <div id="collapseUtilities4" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
            <a class="collapse-item" routerLink="utilities-color.html">acteurs </a>
            <a class="collapse-item" routerLink="utilities-color.html">roles acteur</a>
            <a class="collapse-item" routerLink="utilities-color.html">utilisateurs</a>

          </div>
        </div>
      </li>

          <li class="nav-item">
        <a class="nav-link collapsed" routerLink="#" data-toggle="collapse" data-target="#collapseUtilities5" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>PARAMETRAGE</span>
        </a>
        <div id="collapseUtilities5" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
            <a class="collapse-item" routerLink="anneescolaire">annee scolaire </a>
            <a class="collapse-item" routerLink="autoriteautorisation">autorite autorisation</a>            <a class="collapse-item" routerLink="civilite">civilite</a>

            <a class="collapse-item" routerLink="competence">competence</a>
            <a class="collapse-item" routerLink="designation">Designation
</a>
            <a class="collapse-item" routerLink="difficulte">Difficulte
</a>
            <a class="collapse-item" routerLink="diplome">Diplôme
</a>
            <a class="collapse-item" routerLink="domaineactivite">DomaineActivite
</a>
            <a class="collapse-item" routerLink="impact">Impact
</a>
            <a class="collapse-item" routerLink="infrastructure">Infrastructure</a>

            <a class="collapse-item" routerLink="materielalpha">materielAlpha
</a>

            <a class="collapse-item" routerLink="materielpedagogique">materielPedagogique
</a>
            <a class="collapse-item" routerLink="ministere">ministere
</a>
            <a class="collapse-item" routerLink="modealpha">modeAlpha
</a>
            <a class="collapse-item" routerLink="naturecentre">natureCentre
</a>
            <a class="collapse-item" routerLink="naturedocument">natureDocument
</a>
            <a class="collapse-item" routerLink="niveaualpha">niveauAlpha
</a>
            <a class="collapse-item" routerLink="niveaucp">niveauCP
</a>
            <a class="collapse-item" routerLink="niveausiecec">niveauSIECEC
</a>

            <a class="collapse-item" routerLink="categorieappui">categorieAppui
</a>
            <a class="collapse-item" routerLink="communaute">communauté
</a>
            <a class="collapse-item" routerLink="document">Document
</a>
            <a class="collapse-item" routerLink="fonction">Fonction
</a>
            <a class="collapse-item" routerLink="langueapprentissage">Langue apprentissage
</a>
            <a class="collapse-item" routerLink="ministere">Ministère
</a>
            <a class="collapse-item" routerLink="modealpha">Modealpha
</a>
            <a class="collapse-item" routerLink="partenaire">Partenaire
</a>

 <a class="collapse-item" routerLink="periodeactivite">Periodedactivite

</a>
 <a class="collapse-item" routerLink="periodicite">Periodicite

</a>
 <a class="collapse-item" routerLink="regimealpha">Regimealpha

</a>
 <a class="collapse-item" routerLink="statutpersonnel">Statutpersonnel

</a>
 <a class="collapse-item" routerLink="supportdidactique">Supportdidactique

</a>
 <a class="collapse-item" routerLink="typealpha">Typealpha

</a>
 <a class="collapse-item"   routerLink="typedocument">Typedocument

</a>

 <a class="collapse-item" routerLink="/login">Connexion

</a>


          </div>
        </div>
      </li>

      <!-- Sidebar Toggler (Sidebar) -->
      <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div> -->

    </ul>
    <!-- End of Sidebar -->


  </div>
  <!-- End of Page Wrapper -->


 
</body>






