:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  width: 100%;
}

.mena-logout-modal {
  z-index: 1055;
}

:host .modal-backdrop {
  z-index: 1050;
}
